$('.errors').hide();


$('#user_email').after(
  "<div class='errors'><%= flash[:alert].select { |x| x.include?('Email') }[0] %></div>");
$('#user_full_name').after(
  "<div class='errors'><%= flash[:alert].select { |x| x =~ /Full name can't be blank/ }[0] %></div>");
$('#user_password').after(
  "<div class='errors'><%= flash[:alert].select { |x| x.include?('Password') }[0] %></div>");
