// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-grey: #e3e3e7;

.project_tab {
  text-align: center;
}

h1 {
  text-align: center;
}